@model List<BookCave.Models.ViewModels.CartViewModel>

<div class="container">
    <div class="row"></div>
        @foreach(var book in @Model)
        {
            <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center" style="height: 325px; width: 200px">
                <img src="@book.Image"  height="200" width="120" /><br>
                <p>@book.Title</p>
                <p>Afsláttur: @book.Discount</p>
                <p>Verð: @book.Price $</p>
                <p>Magn: @book.Quantity</p>
            </div>
        }
    </div>
</div>
