@model BookCave.Models.ViewModels.AccountViewModel
<h1>Notenda síða</h1>
<div class="jumbotron">
    <h2>Persónulegt</h2>
    <p>Nafn: @Model.FullName</p>
    <p>Netfang: @Model.Email</p>
    <h2>Flutnings upplýsingar</h2>
    @if(@Model.Shipping == null)
    {
        <a href="#">Bæta við Flutnings upplýsingar</a>
    }
    else
    {
        <p>Heimilisfang: @Model.Shipping.Street</p>
        <p>Póstnúmer: @Model.Shipping.PostalCode</p>
        <p>Borg: @Model.Shipping.City</p>
        <p>Land: @Model.Shipping.Country</p>
    }
</div>