@model BookCave.Models.ViewModels.AccountViewModel
<h1>Notenda síða</h1>
<h2>Persónulegt</h2>
<div class="jumbotron">
    <a asp-controller="Account" asp-action="EditProfile">Breyta</a>
    <p>Eiginnafn: @Model.FirstName</p>
    <p>Eftirafn: @Model.LastName</p>
    <p>Netfang: @Model.Email</p>
    @if(@Model.Age != 0)
    {
        <p>Aldur: @Model.Age</p>
    }
</div>
<h2>Flutnings upplýsingar</h2>
<div class="jumbotron">
    @if(@Model.Shipping == null)
    {
        <a asp-controller="Account" asp-action="ShippingInfo">Bæta við Flutnings upplýsingar</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="ShippingInfo">Breyta</a>
        <p>Heimilisfang: @Model.Shipping.Street</p>
        <p>Póstnúmer: @Model.Shipping.PostalCode</p>
        <p>Borg: @Model.Shipping.City</p>
        <p>Land: @Model.Shipping.Country</p>
        <p>Sendingarmáti: @Model.Shipping.SendingMethod</p>
    }
</div>