@model List<BookCave.Models.ViewModels.CartViewModel>

@ViewBag.Title
<h1>Yfirlit pöntunar</h1>
<div class="container">
    <div class="row"></div>
        <div class="col-lg-12 cl-md-6 col-sm-6 col-xs-6">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Mynd</th>
                    <th>Titill</th>
                    <th>Magn</th>
                    <th>Afsláttur</th>
                    <th>Verð</th>
                </tr>
                @foreach(var item in @Model)
                {
                    <tr>
                        <td><img src="@item.Image"  height="200" width="120" /></td>
                        <td>@item.Title</td>
                        <td>@item.Quantity</td>
                        <td>@item.Discount %</td>
                        <td>@item.Price $</td>
                    </tr>
                }
            </table>
            <h3>Heildarverð: @ViewBag.TotalPrice $</h3>
        </div>
    </div>

<div class="form-group">
    <a asp-controller="Account" asp-action="Checkout"><button class="btn btn-default">Halda áfram</button></a>
</div>
<div class="form-group">
    <a asp-controller="Account" asp-action="Cart"><button class="btn btn-default">Til baka</button></a>
</div>