@model List<BookCave.Models.ViewModels.AuthorListViewModel>
<h1>Höfundar</h1>
<div class="container">
    <div class="row">
        @foreach(var author in @Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <img src="@author.Image"  height="200" width="120" /><br>
            </div>
            <div class="book-sales-div col-lg-4 col-md-6 col-sm-6 col-xs-12" style="height: 250px; width: 700px">
                <h4>@author.Name<br></h4>
                <a asp-controller="Employee" asp-action="SalesAuthor" asp-route-id="@author.Id"><button class="btn btn-info">Sölutölur</button></a>
                <a asp-controller="Employee" asp-action="ChangeAuthor" asp-route-id="@author.Id"><button class="btn btn-info">Breyta</button></a>
                <a asp-controller="Employee" asp-action="RemoveAuthor" asp-route-id="@author.Id"><button class="btn btn-info">Fjarlægja</button></a>

 
            </div>
        }
    </div>
</div>