@model List<BookCave.Models.ViewModels.BookListViewModel>
<h1>Discount</h1>

<div class="container">
    <div class="row"></div>
        @foreach(var book in @Model)
        {
            <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center">
                <img src="@book.Image"  height="200" width="120" /><br>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a><br>
                <p id="price"> </p>
                <p> @book.Price </p>
                <p id="Total">$</p>
                <script>
                function totalFunction()
                {
                    document.getElementById("Total").innerHTML = Math.pow(@book.Discount, -10) * @book.Price;
                }</script>
                // Á eftir að reikna út verðið með afslætti 
            </div>
        }
    </div>
</div>