@model List<BookCave.Models.ViewModels.BookListViewModel>

<h1>Topp 10</h1>
<h2>Bækur með hæstu einnkunnirnar</h2>
<div class="container">
    <div class="row"></div>
        <ol>
            @foreach(var book in @Model)
            {
                <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center" style="height: 325px; width: 200px">
                    <li>
                        <p><a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id"><img src="@book.Image" height="200" width="120"/></a></p>
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a><br>
                        <p>@book.Price $</p>
                    </li>
                </div>
            }
        </ol>
    </div>
</div>