@model BookCave.Models.ViewModels.BookDetailViewModel

<div class="container">
    <div class="row"></div>
        <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center">
            <img src="@Model.Image"  height="200" width="120" /><br>
            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a><br>
            <p>@Model.Price $</p>
            
            @foreach(var c in @Model.CategoryList)
            {
                @c.Name <br>
            }
            
            @foreach(var a in @Model.AuthorList)
            {
                <a asp-controller="Author" asp-action="Details" asp-route-id="@a.Id">@a.Name</a> <br>
            }
        </div>
        <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center">
            @if(@Model.Paperback)
            {
                <button class="btn btn-default">Kilja</button>
            }
            @if(@Model.Ebook)
            {
                <button class="btn btn-default">Rafbók</button>
            }
            @if(@Model.Audio)
            {
                <button class="btn btn-default">Hljóðbók</button>
            }

            <button class="btn btn-primary">Setja í körfu</button>
            <button class="btn btn-default">Setja í uppáhalds</button>
            <button class="btn btn-default">Setja á óskalist</button>

        </div>
        <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center">
            <h3>Umsagnir</h3>
            @foreach(var c in @Model.BookComments)
            {
                <p>@c.Rating </p>
                <p>@c.BookComment</p> <br>
            }
            <button><a asp-controller="Account" asp-action="AddComment" asp-route-id="@Model.Id">Setja inn umsögn fyrir bók</a></button>
        </div>
    </div>
</div>