@model BookCave.Models.ViewModels.BookDetailViewModel
@using Microsoft.AspNetCore.Identity

<div class="container">
    <div class="row"></div>
        <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center">
            <img src="@Model.Image"  height="200" width="120" /><br>
            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a><br>
            <p>@Model.Price $</p>
            
            @foreach(var c in @Model.CategoryList)
            {
                @c.Name <br>
            }
            
            @foreach(var a in @Model.AuthorList)
            {
                <a asp-controller="Author" asp-action="Details" asp-route-id="@a.Id">@a.Name</a> <br>
            }
        </div>
        <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center">
            @if(@Model.Paperback)
            {
                <button class="btn btn-default">Kilja</button>
            }
            @if(@Model.Ebook)
            {
                <button class="btn btn-default">Rafbók</button>
            }
            @if(@Model.Audio)
            {
                <button class="btn btn-default">Hljóðbók</button>
            }

            <button class="btn btn-primary">Setja í körfu</button>
            <button class="btn btn-default">Setja í uppáhalds</button>
            <button class="btn btn-default">Setja á óskalist</button>

        </div>
        <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center">
            <h3>Umsagnir</h3>
            @foreach(var c in @Model.BookComments)
            {
                <p>@c.Rating </p>
                <p>@c.BookComment</p> <br>
            }
        </div>
    </div>
    @if(User.IsInRole("User"))
    {
    <div class="jumbotron">
        <form method="POST" asp-controller="Book" asp-action="Details">
            <div class="form-group">
                <label for="BookComment">Umsögn</label>
                <input type="text" for="BookComment" name="BookComment" class="form-control">
            </div>
            <p>Einkunn</p>
            <div class="btn-group btn-group-toggle btn-warning" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="Rating" value="1" autocomplete="off" checked> 1
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="Rating" value="2" autocomplete="off"> 2
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="Rating" value="3" autocomplete="off"> 3
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="Rating" value="4" autocomplete="off"> 4
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="Rating" value="5" autocomplete="off"> 5
                </label>
            </div><br><br>
            <button type="submit" class="btn btn-default">Skrá umsögn</button>
        </form>
    </div>
    }
</div>