@model BookCave.Models.ViewModels.BookDetailViewModel
@using Microsoft.AspNetCore.Identity
@ViewBag.Title
<h1>@Model.Title</h1>
<div class="jumbotron">
    <div>
        <p>Einkunn: @Model.Rating</p>
        <img src="@Model.Image"  height="200" width="120" /><br>
        <p>Eftir: 
            @foreach(var a in @Model.AuthorList)
            {
                <a asp-controller="Author" asp-action="Details" asp-route-id="@a.Id">@a.Name</a>
            }
        </p>
        <p>Flokkar: 
            @foreach(var c in @Model.CategoryList)
            {
                <a asp-controller="Category" asp-action="Details" asp-route-id="@c.Id">@c.Name</a> 
            }
        </p>
        <p>Verð: @Model.Price $</p>
        <p>Lýsing: @Model.Description</p>
        <p>Blaðsíðutal: @Model.Pages</p>
    </div>
    @if(User.IsInRole("User"))
    {
        <div>
            <input type="button" class="btn btn-info" value="Setja í körfu" onclick="addToCart(@Model.Id)">
        </div>
    }
    else
    {
        <div>
            <input type="button" class="btn btn-info" value="Setja í körfu" onclick="notAdded()">
        </div>
    }
</div>
@if(User.IsInRole("User"))
{
<h3>Skrifa umsögn</h3>
<div class="jumbotron">
    <form method="POST" asp-controller="Book" asp-action="Details">
        <div class="form-group">
            <input type="text" for="Comment" name="Comment" class="form-control">
        </div>
        <p>Einkunn</p>
        <div class="btn-group btn-warning" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="Rating" value="1" autocomplete="off" checked>
                <span class="glyphicon glyphicon-star"></span>
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="Rating" value="2" autocomplete="off">
                <span class="glyphicon glyphicon-star"></span>
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="Rating" value="3" autocomplete="off">
                <span class="glyphicon glyphicon-star"></span>
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="Rating" value="4" autocomplete="off">
                <span class="glyphicon glyphicon-star"></span>
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="Rating" value="5" autocomplete="off">
                <span class="glyphicon glyphicon-star"></span>
            </label>
        </div><br><br>
        <button type="submit" class="btn btn-default">Skrá umsögn</button>
    </form>
</div>
}
<h3>Umsagnir</h3>
<div class="jumbotron">
    <h4>Meðaltal einkunna frá notendum: @Model.UserAvgRating</h4>
    @foreach(var c in @Model.BookComments)
    {
        <div>
            <p>Einkunn: @c.Rating </p>
            <p>Umsögn: @c.BookComment</p> <br>
        </div>
    }
</div>