@model List<BookCave.Models.ViewModels.BookListViewModel>
<h1>Bækur</h1>
<div class="container">
    <div class="row">
        @foreach(var book in @Model)
        {
            <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center">
                <img src="@book.Image"  height="200" width="120" /><br>
               <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a><br>
                @book.Price $
            </div>
        }
    </div>
</div>

<!-- Gamla htmlið
<div>
<ul>
    @foreach(var book in @Model)
    {
        <li class="list-inline-item">
            <img src="@book.Image" height="100" width="60" /><br>
            @book.Title<br>
            @book.Price $
        </li>
    }
  </ul>
</div>
//-->